body {
  /* background: #1f2227; */
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.mainWrapper{
  width: 100%;
  float: left;
  display: block;
}

.header{
  width: 100%;
  float: left;
  display: block;
  height: 35px;
  background: #000;
}


.mainContainers{
  width: 100%;
  float: left;
  display: block;
}

.btn{
  outline: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background: none;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
}

textarea, iframe {
  width: 50%;
  float: left;
  min-height: 250px;
  overflow: auto;
  margin: auto;
  display: inline-block;
  background: #1f2227;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fff;
  border: 1px solid #000;
}

iframe{
  border-width: 0px;
  border-bottom: 1px solid #000;
  background: #3d424a;
  color:#fff;
}

.CodeMirror{
  width: 50%;
  float: left;
  min-height: 250px;
  overflow: auto;
  margin: auto;
  display: inline-block;
  background: #1f2227;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fff;
}